/* src/components/Navbar.css */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #007bff; */
    padding: 10px 0;

  }
  
  .logo {
    color: rgb(255, 138, 5);
    font-size: 34px;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
  }
  